In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
np.random.seed(20)
nut_sales = np.random.randint(20, size=(5,3))
butter_prices = np.array([12, 10, 14])

In [6]:
nut_sales

array([[ 3, 15,  9],
       [11,  7,  2],
       [ 0,  8, 19],
       [16,  6,  6],
       [16,  9,  5]])

In [7]:
daily_sales = pd.DataFrame(nut_sales,
                           index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                           columns=['Almond Butter', 'Peanut Butter', 'Cashew Butter'])

In [8]:
daily_sales

     Almond Butter  Peanut Butter  Cashew Butter
Mon              3             15              9
Tue             11              7              2
Wed              0              8             19
Thu             16              6              6
Fri             16              9              5

In [18]:
total_sales = daily_sales.dot(butter_prices)

In [19]:
total_sales

Mon    312
Tue    230
Wed    346
Thu    336
Fri    352
dtype: int32

In [20]:
daily_sales['Total ($)'] = total_sales

In [21]:
daily_sales

     Almond Butter  Peanut Butter  Cashew Butter  Total ($)
Mon              3             15              9        312
Tue             11              7              2        230
Wed              0              8             19        346
Thu             16              6              6        336
Fri             16              9              5        352

In [22]:
butter_prices

array([12, 10, 14])